.footer-div {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1rem;
}

.copyright-text {
  font-size: 20px;
  font-weight: 400;
  font-family: "Montserrat";
}

.fa-heart {
  color: red;
}
