$largephone-width: 450px;
$phone-width: 320px;

.App {
  padding-top: 2rem;
  text-align: center;
  padding-bottom: 2rem;
}

.app-name {
  font-size: 45px;
  text-decoration: none;
  font-family: "Montserrat";
}

.app-name:hover {
  text-decoration: none;
}

.theme {
  position: absolute;
  right: 50px;
  top: 35px;
}

.theme-selector {
  font-size: 40px;
  cursor: pointer;
}

@media (max-width: #{$largephone-width}) and (min-width: #{$phone-width}) {
  .app-name {
    font-size: 30px;
    text-decoration: none;
    font-family: "Montserrat";
  }

  .theme {
    right: 25px;
    top: 25px;
  }
}
