.App {
  padding-top: 2rem;
  text-align: center;
  padding-bottom: 2rem;
}

.app-name {
  font-size: 45px;
  text-decoration: none;
  font-family: "Montserrat";
}

.app-name:hover {
  text-decoration: none;
}

.theme {
  position: absolute;
  right: 50px;
}

.theme-selector {
  font-size: 40px;
  cursor: pointer;
}
